.manager-lottery{
    background-color: #212529 !important;
    color: #ffffff;
    margin-bottom: 100px !important;
}

.alert-danger{
    margin: 0px 10px;
    padding: 10px 20px !important;
    transition: 0.5s;
}

.create_lottery_button{
    background-color: #212529;
    border: 1px solid #e3e3e3;
    color: #e3e3e3;
    border-radius: 5px;
    // margin: 10px;
    font-style: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 800;
    width: 100%;
    height: 100% !important;
    transition: 0.4s;
    min-height: 175px !important;
    max-height: 175px !important;
    .titleText{
        display: none;
        transition: 0.5s;
        margin: auto;
    }
    &:hover {
        background-color: #676869 !important;
        color: #ffffff   !important;
        border: 1px solid #212529 !important;
        font-weight: 600;
        letter-spacing: 2px;
        cursor: pointer;
        svg{
            display: none;
        }
        .titleText{
            display: block;
        }
    }

    .card-body{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        // height: 150px;
        // margin: auto;
    }

    svg{
        margin: 20px;
    }

}

.createLotteryBtn{
    background-color: #212529;
    border: 1px solid #e3e3e3;
    color: #e3e3e3;
    border-radius: 5px;
    margin: 10px;
    font-style: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 800;
    width: 50%;
    transition: 0.4s;
    &:hover {
        background-color: #ffffff !important;
        color: #212529 !important;
        border: 1px solid #212529 !important;
        font-weight: 600;
        letter-spacing: 2px;
    }
}