.navbar-brand{
    display: flex;
    flex-direction: row;
}

.player_tickets_link{
    margin-left: 20px;
    background-color: rgb(95, 95, 95) !important;
    padding: 10px !important;
    border-radius: 10px !important;
}